.advantages-container {
    position: relative;
    text-align: center;
    width: 100%;

    @include desktop-sm {
        text-align: start;
    }

    

    & h2 {
        font-size: 2.4rem;
        font-weight: 700;
        margin: 30px 0;
    }

    & ul {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;

        @include desktop-sm{
            justify-content: space-between;
        }
    }
    

}