.about {


    

    &__information {
        position: relative;
        & h1 {
            font-size: 3.6rem;
            padding: 21px 0;
            color: $color-white;
        }

        &-text p{
            @include desktop-sm {
                width: 81%;
            }
        }
    }
    
    &__container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: start;
        width: 90%;

        @include desktop-sm {
            width: 84%;
            max-width: 1440px;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        background-color: #fafafa;
        padding: 9px 0;
        margin: 21px 0;

        &-paragraph {
            width: 90%;

            @include desktop-sm {
                padding: 60px 0;
                margin: 60px 0;
                width: 44%;
            }
        }
        &-image {
            width: 90%;

            @include desktop-sm {
                width: 44%;
            }
        }

        &-container {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 90%;

            @include desktop-sm {
                justify-content: space-between;
                width: 84%;
                max-width: 1440px;
            }
        }
    }


    &__people {
        position: relative;
        width: 100%;
        margin: 21px 0;
    }

    &__title {
        width: 100%;
        margin-bottom: 21px;
        padding: 21px 0;
        & h1 {
            margin: auto;
            width: 90%;

            @include desktop-sm {
                width: 84%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-dark;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

    }
}