.icon-social-media {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-weight: 500; 
    border-radius: 100%;
    border: 1px solid;
    cursor: pointer;

    @include tablet {
        height: 30px;
        width: 30px;
    }

    & svg {
        width: 15px;
        height: 15px;
    }
    

    &--red {
        border-color: $color-red;
        & svg {
            color: $color-red;
            & path {
                fill: $color-red;   
            }
        }
    }
    &--blue {
        border-color: $color-dusty-teal;
        & svg {
            color: $color-dusty-teal;
            & path {
                fill: $color-dusty-teal;   
            }
        }
    }
    &--orange {
        border-color: $color-orange;
        & svg {
            color: $color-orange;
            & path {
                fill: $color-orange;   
            }
        }
    }
    &--white {
        border-color: $color-dark;
        & svg {
            color: $color-dark;
            & path {
                fill: $color-dark;   
            }
        }
    }
    
}