.image {
    position: relative;
    width: 210px;
    height: 210px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 21px 0 rgba(0,0,0,.1);


    @include tablet {
        width: 240px;
        height: 240px;
    }

    @include desktop-sm {
        width: 250px;
        height: 250px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 29%, #000 130%);
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: $color-orange;
        bottom: 0;
        left: 0;
        z-index: 72;
    }

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .3s ease-in-out;
    }

    & figcaption {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        padding: 12px;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-white;
        z-index: 99;
    }
}