.image-medium {
    position: relative;
    width: 270px;
    height: 210px;
    border-radius: 12px;
    box-shadow: 0 0 21px 0 rgba(0,0,0,.1);


    @include tablet {
        width: 390px;
        height: 240px;
    }

    @include desktop-sm {
        width: 460px;
        height: 300px;
    }
    &::after {
        content: '';
        position: absolute;
        width: 90%;
        height: 90%;
        border: 3px solid $color-orange;
        border-radius: 9px;
        bottom: -8%;
        left: -6%;
        z-index: 0;
    }

    & img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 9px;
        object-fit: cover;
        transition: .3s ease-in-out;
        z-index: 30;
    }
}