.activity {


    

    &__information {
        position: relative;
        & h1 {
            font-size: 3.6rem;
            padding: 21px 0;
            color: $color-white;
        }
    }
    
    &__list {
        & h2 {
            font-size: 1.8rem;
            color: #888888;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 90%;


        @include desktop-sm {
            width: 84%;
            max-width: 1440px;
            align-items: flex-start;
            justify-content: flex-start;
        }

        
    }

    &__blog {
        position: relative;
        width: 100%;
        margin: 21px 0;
    }

    &__content {
        position: relative;
        width: 100%;
        & aside {
            display: none;
            @include desktop-sm {
                display: inline-flex;
                width: 30%;
            }
        }

        &-share {
            position: sticky;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            bottom: 0;
            right: 0;
            height: 100%;
        }

        &-description {
            width: 100%;

            @include desktop-sm{
                width: 66%;
            }
        }

        &-slider {
            margin: 0;
        }

        &-images {
            margin: 0;
            position: relative;
            width: 100%;
            height: 100%;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-text {
            width: 100%;
            padding: 12px;

            @include desktop-sm {
                width: 70%;
                padding: initial;

            }

            &-image {
                position: relative;
                width: 100%;
                height: 300px;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            & h1 {
                font-size: 2.7rem;
                color: $color-white;
                margin-bottom: 30px;
            }
            
            & small {
                font-size: 1.2rem;
                color: #888888;
                font-weight: 100;
                margin: 21px 0;
            }
        }
    }

    &__related {
        position: relative;
        width: 100%;
    }

    &__activities {
        position: relative;
        width: 100%;
        margin: 21px 0;
    }

    &__title {
        width: 100%;
        margin-bottom: 21px;
        padding: 21px 0;
        & h1 {
            margin: auto;
            width: 90%;

            @include desktop-sm {
                width: 84%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-dark;
            width: 100%;
            height: 400px;
            z-index: -1;
        }

    }
}