.partner-card {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: $color-white;
    border-radius: 6px;
    width: 210px;
    height: 120px;
    padding: 12px;
    margin: 9px;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
    transition: .3s ease-in-out;
    &:hover {
        transform: scale(1.01);
    }

    @include tablet {
        width: 240px;
    }


    &__image {
        position: relative;
        width: 72%;
        height: 72px;
        overflow: hidden;

        & source, img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}