.quote {
    width: 290px;
    min-height: 180px;
    height: auto;
    background-color: $color-white;
    box-shadow: 0 10px 40px -4px rgba(0, 0, 0, 0.1);
    margin: 60px 0;
    padding: 21px;
    & p {
        font-size: 1.8rem;
        color: #281330;
        text-align: center;

        @include desktop-sm {
            font-size: 3.0rem;
        }
    }

    @include tablet{
        width: 510px;
        height: 240px;
    }

    @include desktop-sm{
        width: 70%;
        max-width: 810px;
        height: 240px;
    }

    &__quote-start {
        content: '"';
        position: absolute;
        z-index: 30;
        left: 3%;
        top: -9%;
        width: 72px;
        font-size: 6rem;
        color: $color-orange;
    }

    &__quote-end {
        position: absolute;
        z-index: 30;
        right: 3%;
        bottom: -9%;
        width: 72px;
        font-size: 6rem;
        color: $color-orange;
    }
}