@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700;900&display=swap');

$font-sans: 'Noto Sans JP', sans-serif;; 
$font-serif: 'Times New Roman', Times, serif;

$text-size-base-sm: 1.2rem;
$text-size-base-md: 1.5rem;
$text-size-base: 1.8rem;
$text-size-sm: 2.1rem;
$text-size-md: 2.4rem;
$text-size-lg: 3rem;
$text-size-xl: 3.6rem;

$title-size-sm: 9rem;
$title-size-md: 12rem;
$title-size-lg: 15rem;
$title-size-xl: 18rem;


.font- {
    &serif {
        font-family: $font-serif;
    }
    &sans {
        font-family: $font-sans;
    }

    &ligth {
        font-weight: 400;
    }
    &thin {
        font-weight: 100;
    }
    &bold {
        font-weight: 700;
    }
    &black {
        font-weight: 900;
    }
}


.text-size- {
    &base {
        font-size: $text-size-base;

        &-sm {
            font-size: $text-size-base-sm;
        }
        &-md {
            font-size: $text-size-base-md;
        }
    }
    &sm {
        font-size: $text-size-sm;
    }
    &md {
        font-size: $text-size-md;
    }
    &lg {
        font-size: $text-size-lg;
    }
    &xl {
        font-size: $text-size-xl;
    }
}

.title-size- {
    &sm {
        font-size: $title-size-sm;
    }
    &md {
        font-size: $title-size-md;
    }
    &lg {
        font-size: $title-size-lg;
    }
    &xl {
        font-size: $title-size-xl;
    }
}
