@use 'colors' as *;

.form-input {

    &__label {
        color: rgba(0, 0, 0, .6);
        font-size: 12px;
        font-weight: 500;
    }

}

input[type="text"], input[type="number"], input[type="date"], input[type="password"], textarea, input[type="email"] {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    padding-bottom: 9px;
    font-size: 15px;
    font-weight: 400;

    &:focus  {
        border-bottom: 2px solid $color-red;
        outline: $color-red;
        
    }
}