@use './colors' as *;
@use './responsive' as *;

.bg-dark {
    background-color: $color-dark;
}
.bg-white {
    background-color: $color-white;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.sticky {
    position: sticky;

    &-top {
        position: sticky;
        left: 0;
        top: 0;
    }
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;

    &-row {
       flex-direction: row;
       &-reverse {
           flex-direction: row-reverse;
       }
    }
    &-col {
        flex-direction: column;
        &-reverse {
            flex-direction: column-reverse;
        }
    }
}


.align-{
    &center {
        align-items: center;
    }

    &start {
        align-items: flex-start;
    }

    &end {
        align-items: flex-end;
    }
}


.justify-{
    &center {
        justify-content: center;
    }

    &start {
        justify-content: flex-start;
    }

    &end {
        justify-content: flex-end;
    }

    &between {
        justify-content: space-between;
    }

    &around {
        justify-content: space-around;
    }
}

.title-decoration {
    position: relative;
    padding: 21px 0;
    &::before {
        position: absolute;
        display: none;
        content: '';
        top: 0;
        left: 0;
        width: 42px;
        height: 3px;
        background-color: $color-orange;

        @include desktop-sm {
            display: inline-block;
        }
    }
}

