.social-media-container {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: $color-white;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);

    @include desktop-sm {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 21px;
    }
    & h3 {
        font-size: 1.3rem;
        color: #9b9b9b !important;
        text-transform: uppercase;
        color: $color-gray;
        font-weight: 700;
        margin: 12px 0;
        letter-spacing: 1px;
    }
    & ul {
        display: flex;
        flex-flow: column;
        
        & li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 6px 0;

            & strong {
                display: none;
                color: $color-red;
                font-size: 1.3rem;
                font-weight: 400;
                @include desktop-sm {
                    display: inline-block;
                }
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid $color-red;
        margin-right: 9px;

        & svg {
            width: 12px;
            height: 12px;
            & path {
                fill: $color-red;
            }
        }
    }
}