.link {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    font-weight: 500; 

    & svg {
        width: 18px;
        height: 18px;
        margin: 0 12px;
    }
    

    &--red {
        color: $color-red;
        & svg {
            color: $color-red;
        }
    }
    &--blue {
        color: $color-dusty-teal;
        & svg {
            color: $color-dusty-teal;
        }
    }
    &--orange {
        color: $color-orange;
        & svg {
            color: $color-orange;
        }
    }
    &--white {
        color: $color-white;
        & svg {
            color: $color-white;
        }
    }
    
}