.button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    min-width: 160px;
    border: none;
    border-radius: 21px;
    color: $color-white;
    padding: 12px 21px;
    cursor: pointer;
    box-shadow: 0 0 21px 0 rgba(0,0,0,.15);
    transition: .6s ease-in-out;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
    }

    & svg {
        width: 21px;
        height: 21px;
        margin-left: 12px;
    }

    &--red {
        background-color: $color-red;
    }
    &--blue {
        background-color: $color-dusty-teal;
    }
    &--orange {
        background-color: $color-orange;
    }
    &--white {
        background-color: $color-white;
        color: $color-red;
        & svg {
            color: $color-red;
            & path {
                color: $color-red;
            }
        }
    }
    
}