.related-activities {
    position: relative;
    width: 100%;

    &__list {
        padding: 21px 0;
        margin: 0;
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-gap: 21px;
        justify-items: center;

        @include tablet {
            justify-items: flex-start;
        }
    }
}