.not-found-container {
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    & picture {
        position: relative;
        width: 300px;

        @include tablet {
            width: 360px;
        }

        @include desktop-sm {
            width: 420px;
        }
        
        & img, & source {
            width: 100%;
            object-fit: cover;
        }
    }

    & h2 {
        font-size: 2.7rem;
        font-weight: 500;
        color: $color-gray;
    }

    &__nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 21px;

        & strong {
            font-size: 1.4rem;
            color: $color-gray;
            margin: 12px;
        }

        & ul {
            display: flex;
            flex-flow: row wrap;   
            align-items: center;
            justify-content: space-around;

            & li {
                margin: 12px;
            }
        }
    }
}