.container-partners-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;

    @include tablet {
        height: 180px;
    }

    
}

.partners-slider {
    position: relative;
    width: 100%;
    height: 100%;

    &__buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 99;
    }

    &__button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:disabled {
            & svg {
                color: rgba(0,0,0,.3);
            }
        }

        & svg {
            width: 30px;
            height: 30px;
            color: $color-red;
        }

        &-next {
            & svg {
                transform: rotate(180deg);
            }
        }
    }
}