.person-card {
    position: relative;
    width: 240px;
    height: 270px;
    border-radius: 6px;
    background-color: $color-white;
    margin: 6px;
    box-shadow:  0 10px 30px -3px rgba(0,0,0,.1);
    overflow: hidden;
    transition: .3s ease-in-out;
    &:hover {
        transform: scale(1.01);
        .person-card__image img {
            transform: scale(1.2);
        }
    }


    @include desktop-sm {
        width: 255px;
        height: 330px;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 72%;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            transition: .6s ease-in-out;
            object-fit: cover;
        }
    }


    &__text {
        margin: auto;
    }

    &__name {
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 700;
    }
    &__abstract {
        text-align: center;
        font-weight: 400;
        color: $color-gray
    }
}