.cover-activity {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: start;
    padding: 21px;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include tablet {
        padding: 120px;
    }

    @include desktop-sm {
        padding: 120px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 97%);
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        color: $color-white;
        width: 90%;
        & h1 {
            font-size: 3.3rem;
        }

        @include desktop-sm {
            width: 42%;
        }

        & p {
            margin-bottom: 21px;
        }
    }
}