.home {

    &__container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 90%;
        min-height: 72vh;

        @include desktop-sm {
            width: 84%;
            max-width: 1440px;
        }
    }

    &__categories {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100%;

        &-container {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: start;
            width: 90%;
            min-height: 72vh;
    
            @include desktop-sm {
                width: 84%;
                max-width: 1440px;
            }
        }

        &-content {
            width: 90%;

            @include tablet {
                width: 42%;
            }
        }

        &-images {
            position: relative;
            flex-flow: row wrap;
            width: 90%;

            & figure {
                margin: 12px
            }

            @include tablet {
                width: 50%;
            }

            @include desktop-sm {
                position: absolute;
                right: 0;
                z-index: 30;
            }
        }
    }

    &__advantages {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $color-dusty-blue;

        & h2 {
            color: $color-white;
        }
    }

    &__about {
        position: relative;
        width: 100%;
        background-color: $color-dusty-blue;

        &-container {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 90%;
            padding: 21px 0;
    
            @include desktop-sm {
                width: 84%;
                max-width: 1440px;
            }
        }

        &-us {
            padding: 12px;
            width: 90%;
            @include desktop-sm {
                width: 66%;
            }
        }

        &-list {
            padding: 12px;
            width: 90%;
            @include desktop-sm {
                width: 30%;
            }
        }
    }
}