.container-images-slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 420px;
    

    @include tablet {
        width: 420px;
    }

    @include desktop-sm {
        width: 600px;
    }
}

.images-slider {
    position: relative;
    width: 100%;
    height: 100%;

    &__buttons {
        position: absolute;
        right: 3%;
        bottom: -3%;
        z-index: 99;
        
    }

    &__button {
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        border: none;
        padding: 3px;
        background-color: $color-white;
        cursor: pointer;

        &:hover{
            background-color: rgba(255,255,255, .6);
        }

        &:disabled {
            & svg {
                color: rgba(0,0,0,.3);
            }
        }

        & svg {
            width: 30px;
            height: 30px;
            color: $color-red;
        }

        &-next {
            & svg {
                transform: rotate(180deg);
            }
        }
    }
}