.activities {


    

    &__information {
        position: relative;
        & h1 {
            font-size: 3.6rem;
            padding: 21px 0;
            color: $color-white;
        }
    }
    
    &__list {
        & h2 {
            font-size: 1.8rem;
            color: #888888;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: start;
        width: 90%;

        @include desktop-sm {
            width: 84%;
            max-width: 1440px;
        }
    }


    &__activities {
        position: relative;
        width: 100%;
        margin: 21px 0;
    }

    &__title {
        width: 100%;
        margin-bottom: 21px;
        padding: 21px 0;
        & h1 {
            margin: auto;
            width: 90%;

            @include desktop-sm {
                width: 84%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-dark;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

    }
}