.contact-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: 100%;
    min-height: 100vh;


    &__text {
        padding: 30px; 
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: $color-dusty-blue;
        color: $color-white;

        & h2 {
            font-size: 3.3rem;
        }
        & p {
            font-size: 1.6rem;
            line-height: 27px;
        }

        &-container {
            width: 100%;
            @include desktop-sm {
                width: 60%;
            }

            & figure {
                position: relative;
                width: 120px;
                height: 120px;
                background-color: $color-white;
                border-radius: 50%;
                box-shadow: 0 10px 30px 0  rgba(0,0,0,.1);
                margin: 21px 0;

                & svg {
                    width: 60%;
                }
            }
        }
        @include desktop-sm {
            width: 42%;
        }
    }


    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px; 
        @include desktop-sm {
            width: 58%;
        }

        & form {
            width: 90%;
            @include desktop-sm {
                width: 60%;
            }

            & label {
                margin: 21px 0;
            }
            & input[type="text"], input[type="email"], textarea {
                width: 90%;
                margin-bottom: 24px;
            }

            & button {
                margin: 21px 0;
            }
        }
    }
    
}