.container-cover-slider {
    position: relative;
    width: 100%;
    height: 100vh;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 17, 82, 0.6) 0%, rgba(250, 183, 44, 0.5) 97%);
    }
}

.cover-slider {
    position: relative;
    width: 100%;
    height: 100%;

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 21px;
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 99;

        &-bullet {
            width: 15px;
            height: 15px;
            margin: 3px;
            border-radius: 50%;
            border: 1px solid $color-white;
            background-color: transparent;
            cursor: pointer;

            &--active {
                border: 1px solid transparent;
                background-color: $color-orange;
            }
        }
    }
}