.partners-slider-container {
    position: relative;
    width: 100%;
    padding: 12px;

    @include desktop-sm {
        padding: 30px;
    }

    & h2 {
        font-size: 2.4rem;
        color: $color-gray;
    }
}