.advantage-card {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: $color-white;
    border-radius: 6px;
    width: 240px;
    height: 240px;
    padding: 12px;
    margin: 9px 0;
    transition: .3s ease-in-out;
    &:hover {
        transform: scale(1.01);
    }

    @include tablet {
        width: 270px;
    }
    @include tablet {
        width: 300px;
    }

    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);

    &__image {
        position: relative;
        width: 60%;
        height: 72px;
        overflow: hidden;

        & source, img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        font-weight: 400;
        color: $color-gray;
    }
}