.paragraph {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $color-white;
    text-align: center;
    margin: 12px;

    @include tablet {
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
    }
    & h2 {
        font-size: 2.4rem;
    }
    & p {
        margin-bottom: 21px;
    }

    & ul li {
        list-style: disc;
        font-size: 1.8rem;
        font-weight: 100;
    }

    &--dark {
        color: $color-dark;
    }
    &--red {
        color: $color-red;
    }
    &--white {
        color: $color-white;
    }
    &--blue {
        color: $color-dusty-blue;
    }
    &--orange {
        color: $color-orange;
    }
}