.activity-list {
    position: relative;
    width: 100%;

    &__labels {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 0;
        width: 100%;
        & button {
            margin-right: 12px;
        }

    }

    &__list {
        padding: 21px 0;
        margin: 0;
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-gap: 21px;
        justify-items: center;

        @include tablet {
            justify-items: flex-start;
        }
    }
}