.label {
    width: 90px;
    height: 42px;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 700;
    background-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .3s ease-in-out;

    @include desktop-sm {
        font-size: 1.5rem;
        width: 150px;
    }

    &:hover {
        transform: scale(1.01);
    }

    &--blue {
        color: $color-dusty-blue;
        border-color: $color-dusty-blue;
    }
    &--red {
        color: $color-red;
        border-color: $color-red;
    }
    &--orange {
        color: $color-orange;
        border-color: $color-orange;
    }
    &--white {
        color: $color-white;
        border-color: $color-white;
    }

    &--is-selected {
        background-color: rgba($color-dusty-blue, .2);
        border-color: transparent;
    }
}