.activity-card {
    position: relative;
    width: 300px;
    height: 360px;
    border-radius: 6px;
    overflow: hidden;
    margin: 12px;
    box-shadow: 0 0 27px -3px rgba(0,0,0,.1);
    transition: .3s ease-in-out;

    &:hover {
        transform: scale(1.01);

        .activity-card__image img {
            transform: scale(1.2);
        }
    }

    &__image {
        position: relative;
        width: 100%;
        height: 48%;
        overflow: hidden;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .6s ease-in-out;
        }
    }
    
    &__container {
        width: 100%;
        padding: 9px 0;

        & small {
            color: $color-gray;
            font-size: 1.2rem;
            padding: 9px;
        }

    }
    &__text {
        width: 100%;
        padding: 3px 9px;
        margin: 9px 0;
        border-top: 1px solid rgba(0,0,0,.3);

        & h3 {
            font-size: 1.6rem;
            margin: 3px 0;
        }
        & p {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 21px;
            color: $color-gray;
            margin-bottom: 3px;
        }
    }
}