.header {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    z-index: 100;

    &__container {
        position: relative;
        width: 90%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        @include desktop-sm {
            width: 81%;
        }
    }




    &--white {
        background-color: $color-white;

        .header__logo svg path {
            fill: $color-dark;
        }
    }

    &--transparent {
        background-color: transparent;
        border-bottom: 1px solid $color-white;
        box-shadow: 0 0 30px 0 rgba(0,0,0,.0);
        .header__logo svg path  {
            fill: $color-white
        }
    }

    &__nav {
        display: none;

        @include tablet {
            display: inline-flex;
            height: 100%;
            align-items: center;
            justify-items: center;
        } 

        &--active {
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                align-self: center;
                width: 30px;
                height: 3px;
                background-color: $color-dusty-blue;
            }
        }

        &-list {
            height: 100%;            
        }

        &-list li {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 100%;
            margin: 0 9px;
        }
    }

    &__menu {
        position: relative;
        display: flex;

        &-icon {
            z-index: 999;
        }

        & svg {
            width: 30px;
            height: 30px;
        }

        @include tablet {
            display: none;
        }

        &-nav {
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
            left: 100%;
            background-color: $color-white;
            box-shadow: 0 0 30px 0 rgba(0,0,0,.1);

            &-list {
                width: 100%;

                & li a {
                    font-size: 1.8rem;
                }
            }

            &-title {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-bottom: 12px;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 150%;
                    height: 3px;
                    background-color: $color-dark;
                }
            }

            &--is-open {
                display: flex;
                width: 270px;
                height: 360px;
                left: -240px;
                top: 0;
                opacity: 1;
                z-index: 99;
            }

            &--is-close {
                display: none;
                width: 0;
                height: 0;
                left: 100%;
                top: 0;
                opacity: 0;
            }
        }
    }

}