.footer {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: $color-dark;
    width: 100%;
    height: auto;

    @include desktop-sm {
        height: auto;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: 700;
        font-style: normal;
        text-transform: uppercase;
    }

    &__separator {
        content: '';
        margin: auto;
        width: 100%;
        height: 1px;
        background-color: $color-white;
    }

    &__container {
        position: relative;
        width: 90%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0;
       

        @include desktop-sm {
            width: 81%;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
        }

        &--second {
            color: $color-white;
            padding: 30px 0;
            
            @include desktop-sm {
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
    }

    &__address-list li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $color-white;

        & a svg, & a img {
            width: 15px;
            height: 15px;
        }
    }

    &__nav, &__about-information {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 12px;
        @include desktop-sm {
            align-items: flex-start;
            justify-content: flex-start;
            text-align: start;
            margin: 0;
            margin-right: 72px;
        }
    }

    &__nav ul li, &__about-information p, &__about-information strong {
        font-size: 1.2rem;
        font-weight: 100; 
        font-style: normal;
        margin: 3px 0;
    }

    &__about-information strong {
        font-weight: 400;
    }
    &__about-information p {
        line-height: 18px;
    }

    
}